<!-- sorting-visualizer.component.html -->

<h1>♬ Sorting Visualizer ♬</h1>
<div id="container">
  <div
    *ngFor="let value of array; let i = index"
    class="bar"
    [ngStyle]="{
      'height': value * 100 + '%',
      'background-color': (highlightedIndices.includes(i)) ? 'red' : 'black'
    }"
  ></div>
</div>

<hr />

<div>
  <button (click)="init()">Init</button>
  <button (click)="play('bubbleSort')">Bubble</button>
  <button (click)="play('insertionSort')">Insertion</button>
  <button (click)="play('selectionSort')">Selection</button>
  <button (click)="play('quickSort')">Quick</button>
  <button (click)="play('mergeSort')">Merge</button>
</div>

